/* Main Text */
p.body1{
  font-family: 'Playfair Display', serif; 
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #222222;
  text-align: center;
}
p.body2{
  font-family: 'Playfair Display', serif;
  font-weight: 600;                       
  font-size: 30px;
  line-height: 1;
  color: #333333;
  text-align: center;
} 
p.caption{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: #888888;
}

/* Nav Button */
div.nav-button-container{
  text-align: center;
}
button.nav-button{
  font-family:'Playfair Display', serif; 
  font-weight: bold;
  font-size: 20px;
  padding: 8px 16px;
  background-color: #f8f9fb;      
  border: 0px solid #222222;
  border-radius: 8px;
  cursor: pointer;
}
button.nav-button:hover{
  border: 1px solid #222222;
  border-radius: 8px;
}
button.nav-button.active{
  border: 1px solid #222222;
  border-radius: 8px;
}

/* Main Button */
div.main-button-container{
  text-align: center;           
}
button.main-button{
  font-family: 'Playfair Display', sans-serif;  
  font-size: 8px;
  padding: 6px 14px;
  background-color: #ffffff;      
  border: 0px solid #222222;
  border-radius: 16px;
  cursor: pointer;
}
button.main-button:hover {
  border: 1px solid #222222;
}
button.main-button.active {
  border: 1px solid #222222;
}

/* Image Galleries*/
table.gallery{
  margin: 0 auto;
  border-spacing: 16px;
}
table.gallery img{
  width: 150px;
  height: auto;
}

/* Footer Text */
h5.footer-title{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 4px;
}
p.footer-subtitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  color: #aaaaaa;
  margin-top: 0;
}

/* Frame Border */
div.border-frame {
  position: fixed;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
span.bottom-left-border {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
span.bottom-right-border {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
span.top-right-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 5px solid black;
  border-top: 5px solid black;
}
span.top-left-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 5px solid black;
  border-top: 5px solid black;
}