@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #0072C6;
  color: black;
  font-size: 15px;
  font-family: "Exo 2", sans-serif;
}

body {
    background-color: #0072C6;
}

.icon a{
    color: black;
    margin: 10px;
    font-size: 15px;
}